Repository stanford-oval/genie-toolkit, pull requests merged in 2021-09, with the labels that each got.

#757 Fix database migration for conversation state table
  lib/engine/db/sqlite/migration.ts
Labels: bug, engine, P1

#752 Update dialogue handler confidence flow
  lib/dialogue-agent/dialogue-loop.ts
  lib/dialogue-agent/handlers/3rdparty.ts
Labels: dialogue-agent

#773 refactor dialogue flow and add unit test
  lib/dialogue-agent/dialogue-loop.ts
  test/unit/index.js
  test/unit/test_dialogue_loop.js
Labels: enhancement

#769 Add conversation protocol to synchronize devices
  data/builtins/thingengine.builtin/manifest.tt.in
  lib/dialogue-agent/assistant_dispatcher.ts
  lib/dialogue-agent/card-output/card-formatter.ts
  lib/dialogue-agent/card-output/format_objects.ts
  lib/dialogue-agent/conversation.ts
  lib/dialogue-agent/handlers/thingtalk.ts
  lib/dialogue-agent/protocol.ts
  lib/engine/devices/builtins/thingengine.builtin.ts
  lib/engine/devices/database.ts
  lib/engine/index.ts
  lib/speech/speech_handler.ts
  lib/templates/dialogue_acts/action-results.ts
  lib/templates/dialogue_acts/reminders.ts
  lib/templates/dlg/streams.genie
  test/agent/expected-log.txt
  test/agent/index.js
  test/agent/mock_engine.js
  test/agent/tests.txt
  test/agent/thingpedia.tt
  test/engine/test_conversation_state.js
  tool/assistant.ts
Labels: enhancement, dialogue-agent, engine, P1

#748 Add templates for direct result phrases with array parameters
  lib/templates/dlg/results.genie
  test/agent/expected-log.txt
  test/agent/tests.txt
  test/agent/thingpedia.tt
  test/data/en-US/currently_playing_db.json
  test/data/en-US/dataset-map.tsv
Labels: bug, P1

#776 Fix bad NLG issues
  lib/utils/thingtalk/describe.ts
  test/data/en-US/thingpedia.tt
  test/unit/test_describe.js
Labels: templates
