Repository stanford-oval/genie-toolkit, pull requests merged in 2021-02, with the labels that each got.

#443 Fix weather skill
  lib/dialogue-agent/abstract_dialogue_agent.ts
  lib/dialogue-agent/conversation.ts
  lib/dialogue-agent/dialogue-loop.ts
  lib/dialogue-agent/dialogue_state_utils.ts
  lib/dialogue-agent/entity-linking/contact_search.ts
  lib/dialogue-agent/execution_dialogue_agent.ts
Labels: bug, dialogue-agent

#441 Entity inheritance enablement to support Spotify
  languages/thingtalk/ast_manip.ts
  languages/thingtalk/dialogue_acts/empty-search.ts
  languages/thingtalk/dialogue_acts/search-questions.ts
  languages/thingtalk/dialogue_acts/slot-fill.ts
  languages/thingtalk/en/commands.genie
  languages/thingtalk/en/dlg/action-results.genie
  languages/thingtalk/en/dlg/coref-actions.genie
  languages/thingtalk/en/filters.genie
  languages/thingtalk/en/sempre.genie
  languages/thingtalk/en/stream_tables.genie
  languages/thingtalk/load-thingpedia.ts
  languages/thingtalk/primitive_templates.ts
  languages/thingtalk/utils.ts
  lib/sentence-generator/generator.ts
  test/agent/tests.txt
Labels: templates

#439 [AL1-12] Another round of meta commands
  data/builtins/thingengine.builtin/dataset.tt.in
  data/builtins/thingengine.builtin/faq.yaml
  data/builtins/thingengine.builtin/manifest.tt.in
  data/builtins/thingengine.builtin/merge-faq.ts
  languages/thingtalk/load-thingpedia.ts
  lib/dialogue-agent/execution_dialogue_agent.ts
  lib/engine/devices/builtins/thingengine.builtin.ts
Labels: builtins, enhancement

#454 describe: avoid deprecated API
  data/builtins/thingengine.builtin/dataset.tt.in
  lib/utils/thingtalk/describe.ts
Labels: bug, training

#448 Dialogue logging with test mode
  lib/dataset-tools/parsers.ts
  lib/dialogue-agent/conversation.ts
  lib/dialogue-agent/dialogue-loop.ts
  lib/dialogue-agent/user-input.ts
  test/agent/expected-log.txt
  test/agent/index.js
  test/agent/mock_engine.js
  test/unit/mock_utils.js
Labels: dialogue-agent, enhancement

#453 Refactor how entities are generated in agent sentences
  languages/thingtalk/load-thingpedia.ts
  lib/dialogue-agent/abstract_dialogue_agent.ts
  lib/dialogue-agent/dialogue-loop.ts
  lib/dialogue-agent/dialogue_policy.ts
  lib/dialogue-agent/execution_dialogue_agent.ts
  lib/dialogue-agent/simulator/simulation_dialogue_agent.ts
  lib/engine/apps/database.ts
  lib/i18n/default.ts
  lib/i18n/english.ts
  lib/prediction/localparserclient.ts
  lib/sentence-generator/batch.ts
  lib/sentence-generator/generator.ts
  lib/sentence-generator/types.ts
  lib/utils/entity-utils.ts
  lib/utils/thingtalk/constants.ts
  lib/utils/thingtalk/describe.ts
  package-lock.json
  package.json
  test/agent/index.js
  test/agent/tests.txt
  test/agent/thingpedia.tt
  test/unit/test_describe.js
  test/unit/test_describe_api.js
  test/unit/test_describe_policy.js
Labels: bug, enhancement, i18n

#451 SpeechHandler: react to changes in audio preferences
  lib/speech/speech_handler.ts
Labels: bug, speech

#452 Restore detailed message when no device of a given type is configured
  lib/dialogue-agent/abstract_dialogue_agent.ts
  lib/dialogue-agent/execution_dialogue_agent.ts
  package-lock.json
  package.json
  test/agent/mock_thingpedia_client.js
  test/agent/tests.txt
  test/agent/thingpedia.tt
Labels: bug, dialogue-agent

#463 Fix synthesizing faq_reply
  languages/thingtalk/load-thingpedia.ts
Labels: bug, templates

#459 Use a postprocessing instead of training to add [1] clause to playing music
  languages/thingtalk/dialogue_acts/empty-search.ts
  languages/thingtalk/dialogue_acts/initial-request.ts
  languages/thingtalk/en/dialogue.genie
  lib/dialogue-agent/abstract_dialogue_agent.ts
  test/agent/expected-log.txt
  test/agent/index.js
  test/agent/tests.txt
Labels: bug, templates

#464 evaluation: tokenize unresolved location names when comparing slots
  lib/dataset-tools/evaluation/dialogue_evaluator.ts
Labels: bug, training

#465 templates: allow greet in the middle of the conversation
  languages/thingtalk/state_manip.ts
  test/agent/expected-log.txt
  test/agent/tests.txt
Labels: bug, templates

#421 Confidence-based dispatch
  lib/dialogue-agent/conversation.ts
  lib/dialogue-agent/dialogue-loop.ts
  lib/dialogue-agent/dialogue_queue.ts
  lib/dialogue-agent/user-input.ts
  lib/prediction/localparserclient.ts
  lib/prediction/predictor.ts
  lib/prediction/types.ts
  lib/utils/thingtalk/index.ts
  test/agent/expected-log.txt
  test/agent/index.js
  test/agent/tests.txt
  tool/interactive-annotate.ts
  tool/server.ts
Labels: dialogue-agent, enhancement

#473 Fix loading queries that have parameters with no canonical
  languages/thingtalk/load-thingpedia.ts
  test/data/en-US/thingpedia.tt
Labels: bug, templates

#479 dialogue-loop: catch errors from reading the next queue item
  lib/dialogue-agent/dialogue-loop.ts
Labels: bug, dialogue-agent

#480 Fix entity linking with entities that start with "The"
  lib/dialogue-agent/entity-linking/entity-finder.ts
  test/unit/test_entity_match.js
Labels: bug, dialogue-agent

#475 builtin: fix random number if low > 6
  lib/engine/devices/builtins/thingengine.builtin.ts
  test/engine/test_builtins.js
Labels: bug, builtins

#491 Assorted bug fixes
  languages/thingtalk/en/basic.genie
  languages/thingtalk/en/dialogue.genie
  languages/thingtalk/state_manip.ts
  lib/dialogue-agent/execution_dialogue_agent.ts
  lib/dialogue-agent/simulator/simulation_exec_environment.ts
  lib/speech/speech_handler.ts
  lib/utils/icons.ts
  starter/basic/Makefile
  test/agent/expected-log.txt
  test/agent/tests.txt
  test/data/en-US/weather_db.json
  tool/augment.ts
Labels: bug, dialogue-agent, speech

#502 Another round of bug fixes
  languages/thingtalk/dialogue_acts/action-results.ts
  languages/thingtalk/dialogue_acts/initial-request.ts
  languages/thingtalk/dialogue_acts/list-proposal.ts
  languages/thingtalk/dialogue_acts/recommendation.ts
  languages/thingtalk/en/dialogue.genie
  languages/thingtalk/en/dlg/recommendation.genie
  lib/utils/thingtalk/dialogue_state_utils.ts
  test/agent/expected-log.txt
  test/agent/tests.txt
Labels: bug, templates
